.container {
  margin-top: 15vh;
}
header.container {
  margin-top: 1rem;
}
header nav ul {
  display: flex;
  justify-content: flex-end;
}
nav ul li {
  margin-right: 5rem;
}
.passive {
  color: #d1d1d1;
}

.passive span {
  text-decoration: line-through;
}
.center {
  text-align: center;
}

ul {
  list-style: none;
}

li {
  display: flex;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

a {
  color: #222;
}
a:hover,
a.active {
  color: #fc7753;
}

button:hover,
button:focus {
  color: #fff;
  border-color: #fc7753;
}
