.container {
  margin-top: 15vh;
}

.passive {
  color: #d1d1d1;
}

.passive span {
  text-decoration: line-through;
}
.center {
  text-align: center;
}

ul {
  list-style: none;
}

li {
  display: flex;
  align-items: center;
}

.pointer {
  cursor: pointer;
}
